<html lang="pt-br">

<head>
    <title>Primeira página Bootstrap</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="node_modules/bootstrap/compilados/bootstrap.css">
    <link rel="stylesheet" href="css/simple-sidebar.css">
    <link rel="stylesheet" href="css/Estilo.css">

</head>

<body>


    <div class="d-flex" id="wrapper">

        <div class="bg-dark border-right" id="sidebar-wrapper">
            <div class="sidebar-heading cs_01"> <i class="fab fa-connectdevelop mr-1" style="color: #38d15c;"></i>
                Sistema ASC </div>

            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action bg-dark dropdown-toggle" href="#"
                    id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-plus mr-2" style="color:#f06f48"></i> Novo Aluno</a>

                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Turma da manhã</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Turma da tarde</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Turma da noite</a>
                </div>

            </div>

        </div>

        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">

                <div class="container">

                    <button class="btn btn-primary" id="menu-toggle"><i class="fas fa-bars"></i></button>

                    <a class="navbar-brand ml-auto display-1 mr-0">Olá Visitante, seja bem vindo! ;)</a>>

                </div>

            </nav>


            <div class="jumbotron jumbotron-fluid cs_02">
                <div class="container ">

                    <form>
                        <div class="form-row">

                            <div class="form-group col-sm-11 mb-0">

                                <input type="text" class="form-control" id="inputNome" placeholder="Nome">

                            </div>

                            <div class="form-group col-sm-1 mt-1">
                                <button type="submit" class="btn btn-primary"><i class="fas fa-search-plus"
                                        style="color: white;"></i></button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

            <div class="container">

                <div class="container my-4 d-none d-md-block">

                    <div class="row">
                        <div class="col-md-1 text-center">
                            <i class="fas fa-trophy"></i>
                        </div>
                        <div class="col-2">
                            Aluno
                        </div>
                        <div class="col-1 text-center">
                            Média
                        </div>
                        <div class="col-1">
                            Turma
                        </div>
                        <div class="col-1 text-center">
                            Status
                        </div>
                        <div class="col-1 text-center" data-toggle="tooltip" title="Prova Especial">
                            PE
                        </div>
                        <div class="col-1 text-center" data-toggle="tooltip" title="Primeira Prova">
                            P1
                        </div>
                        <div class="col-1 text-center" data-toggle="tooltip" title="Segunda Prova">
                            P2
                        </div>
                        <div class="col-1 text-center" data-toggle="tooltip" title="Terceira Prova">
                            P3
                        </div>
                        <div class="col-1 text-center" data-toggle="tooltip" title="Prova Final">
                            PF
                        </div>
                        <div class="col-1 text-center" data-toggle="tooltip" title="Prova Final">

                        </div>
                    </div>

                </div>

                <div class="container cs_05 my-2 cs_07">

                    <div class="row">
                        <div class="col-12 col-md-1 text-center">
                            1º
                        </div>
                        <div class="col-12 col-md-2">
                            Thiago Monteiro
                        </div>
                        <div class="col-12 col-md-1 text-center">
                            5.9
                        </div>
                        <div class="col-12 col-md-1">
                            Manhã
                        </div>
                        <div class="col-12 col-md-1 text-center cs_06">
                            Aprovado
                        </div>
                        <div class="col-12 col-md-1 text-center">
                            4.5
                        </div>
                        <div class="col-12 col-md-1 text-center">
                            7.0
                        </div>
                        <div class="col-12 col-md-1 text-center">
                            8,78
                        </div>
                        <div class="col-12 col-md-1 text-center">
                            9,56
                        </div>
                        <div class="col-12 col-md-1 text-center">
                            3
                        </div>
                        <div class="col-1">

                            <div class="row">
                                <div class="col-5">
                                    <a href="#" data-toggle="tooltip" title="Editar notas"> <i class="fas fa-edit"
                                            style="color: black;"></i></a>
                                </div>
                                <div class="col-7">
                                    <a href="#" data-toggle="tooltip" title="Excluir aluno"> <i
                                            class="fas fa-user-minus" style="color: black;" data-toggle="modal"
                                            data-target="#sitemodal"></i></a>
                                </div>
                            </div>


                        </div>

                    </div>

                </div>


            </div>












            <form action="#" method="POST">
                <button class='btn btn-danger btn-xs' type="submit" name="remove_levels" value="delete"
                    data-toggle="modal" data-target="#confirm"><span class="fa fa-times"></span> delete</button>

            </form>



            <p>
                <a href="#" data-toggle="modal" data-target="#ModalExclusao">Excluir</a>
            </p>

            <p>
                <a href="#" data-toggle="modal" data-target="#ModalInclusao">Incluir</a>
            </p>

            <p>
                <a href="#" data-toggle="modal" data-target="#ModalEdicao">Editar</a>
            </p>



        </div>

    </div>



    <!-- Modal Inclusão -->

    <div class="modal fade" id="ModalInclusao" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Digite o nome do aluno</h5>
                    <button type="button" class="close" data-dismiss="modal" style="outline: 0;">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <input type="text" class="form-control" id="inputNome" placeholder="Nome">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Incluir <i
                            class="fas fa-angle-right ml-2" style="color: white;"></i></button>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal Exclusão -->

    <div class="modal fade" id="ModalExclusao" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Deseja continuar?</h5>
                    <button type="button" class="close" data-dismiss="modal" style="outline: 0;">
                        <span>&times;</span>
                    </button>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Não </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="delete">Sim </button>
                </div>

            </div>
        </div>
    </div>



    <!-- Modal Edição -->

    <div class="modal fade" id="ModalEdicao" tabindex="-1" role="dialog">       
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">There are many variations</h5>
                    <button type="button" class="close" data-dismiss="modal" style="outline: 0;">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-6">

                            <input type="hidden" value="0" id="MediaUltimo">
                            <input type="hidden" id="Media">
                            <input type="hidden" id="MediaEspecial">

                            <input type="text" maxlength="3" class="form-control my-1" id="InputP1"
                                placeholder="Nota prova 1"  data-toggle="tooltip" title="Primeira prova">

                            <input type="text" maxlength="3" class="form-control my-1" id="InputP2"
                                placeholder="Nota prova 2"  data-toggle="tooltip" title="Segunda prova">

                            <input type="text" maxlength="3" class="form-control my-1" id="InputP3"
                                placeholder="Nota prova 3"  data-toggle="tooltip" title="Terceira prova">

                            <input type="text" maxlength="3" class="form-control my-1" id="InputPf"
                                placeholder="Nota final"  data-toggle="tooltip" title="Prova final">

                            <input type="text" maxlength="3" class="form-control my-1" id="InputPe"
                                placeholder="Nota especial"  data-toggle="tooltip" title="Prova especial">

                        </div>
                        <div class="col-6">
                            <div class="content text-center cs_09 cs_09_AprovadoEntreMelhores"
                                id="ElementoCorFundoStatusAprovacao">

                                <div class="content cs_08 cs_08_Maior">
                                    <div class="cs_12">

                                        <h1 class=" text-white" id="ElementoMedia">8.2</h2>
                                            <h5 class=" text-white">Média</h5>

                                    </div>
                                </div>

                                <div class="content cs_08 cs_08_Menor">
                                    <h4 class="display-5 text-white" style="margin: 0 auto"
                                        id="ElementoStatusAprovacao">Aprovado</h4>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary" data-dismiss="modal">Editar <i
                        class="fas fa-angle-right ml-2" style="color: white;"></i></button>

                </div>

            </div>
        </div>
    </div>










    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.13.4/jquery.mask.min.js"></script>
    <script src="node_modules/popper.js/dist/umd/popper.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="https://kit.fontawesome.com/a718e840fb.js" crossorigin="anonymous"></script>
    <script src="Scripts/AscProva.js"></script>

    
</body>

</html>