body {
  background-color: #f7f8fa;
}

.cs_01 {
  color: white;
  font-weight: bold;
}

.cs_02 {
  padding: 1rem 2rem 0.1rem 2rem;
}

.cs_03 {
  padding: 1.3rem;
}

.cs_04 {
  padding: 0.7rem;
}

.cs_05 {
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.cs_05:hover {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.cs_rank1 {
  padding: 0.7rem;
}
.cs_rank2 {
  padding: 0.7rem;
}
.cs_rank3 {
  padding: 0.7rem;
}

.cs_06 {
  background-color: #81f79c;
  border-radius: 10px;
}

.cs_07 {
  border-left: 5px solid #00f2ff;
}

.cs_08 {
  display: flex;
  align-items: center;
}
.cs_08_Maior {
  min-height: 70%;
}
.cs_08_Menor {
  min-height: 30%;
}

.cs_09 {
  border-radius: 10px;
}

.cs_09_AprovadoEntreMelhores {
  background-color: #13ebb5;
}

.cs_09_Aprovado {
  background-color: #54eb13;
}

.cs_09_Recuperacao {
  background-color: #ebd913;
}

.cs_09_Reprovado {
  background-color: #eb4213;
}

.cs_10 {
  border-radius: 10px;
}

.cs_11 {
  min-height: 70%;
  align-items: center;
  margin: 0 auto;
}
.cs_12 {
  position: absolute;
  width: 50%;
  height: 60%;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  border: 5px solid white;
  border-radius: 100%;
  padding-top: 12px;
}
.cs_13 {
}
